body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container, .cadastro-container{
    background-color: #e0f0f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 20px;
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group, .input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #393434;
    border-radius: 4px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media (max-width: 480px){
    .login-container, .cadastro-container {
        width: 100%;
        padding: 15px;
    }

h1,h2 {
    font-size: 20px;
}

button{
    font-size: 14px;
}
}